@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: "Montserrat", serif;
}

body{
  background-image: linear-gradient(#93b5db, #90A5BC);
  background-attachment: fixed;
}

p{
font-size: 17px;
}

nav{
  flex-wrap: wrap;
}

header{
  background-color:  #93b5db;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 40px 20px;
  position: sticky;
  top: 0;
  transition: 0.5s;
  box-shadow: 5px 5px 5px;
  overflow: scroll;
  border: solid;
  flex-wrap: wrap;
}

header.scrolled{
  background-color: #90A5BC;
  color: white;
  box-shadow: none;
  border-radius: 0px 0px 20px 20px;
  border: none;
  background: rgba(49, 100, 107, 0.7);
  width: 80%;
  left: 10% 
  
}

header.scrolled li a{
  background-color: #90A5BC;
  color: white;
  box-shadow: none;
  
}

header.scrolled li a:hover{
  background-color: white;
  color: black;
  
}

header.scrolled p{
 display: none;
}


header.scrolled button{
  background-color: white;
}

.subtitle{
  text-align: center;
  font-size: 50px;
}

.nav__name{
  display: flex;
  align-items: center;
}

.nav__name h1{
  font-size: 50px;
}

.nav__name img{
  width: 175px;
  border-radius: 50%;
  margin-right: 30px;
}

.nav__links{
  list-style: none;
  flex-wrap: wrap;
}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;
  
}

.nav__links li a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #93b5db;
  border: solid;
  box-shadow: 1px 1px;
  margin: 10px 0px;
}

.nav__links li a:hover{
  background-color: white;
  cursor: pointer;
}

.nav__buttons button{
  padding:  10px 20px;
  border-radius: 201px;
  background-color: #93b5db;
  transition: 0.3s;
  margin: 0px 20px;
  border: solid;

}
.nav__buttons button:hover{
  cursor: pointer;
  font-size: 20px;
}
.nav__buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30pxpx;

}

section{
  background-color: #93b5db;
  padding: 40px 30px;
  margin: 40px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px;
  border: solid;
  justify-content: center;
}

.section__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section__item p{
  width: 800px;
}

#about__me{
  text-align: center;
}

.section__item div:last-child{
  margin-left: auto;
  margin-right: 100px;
  width: 300px;
}

.section__item img{
  background-color: white;
  border: solid;
  padding: 25px;
  box-shadow: 5px 5px 5px;
  border-radius: 30px;
  margin-right: 40px;
  width: 300px;
}

.subtitle_section{
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.temp{
  display: flex;
  align-items: center;
  justify-content: center;
}

#logos img{
  width: 150px;
}

#nav__scrolled__links{
  background-color: white;
  color: black;
  border-color: black;

}

@media (max-width: 1000px){
  
  .nav__buttons{
    flex-wrap: wrap;
  }

  .nav__links li {
    flex-wrap: wrap;
    height: 45px;
    margin: 5px 0px;
  }

  .nav__links li a{
    border: solid;
    margin: 0px 0px;
  }

  header{
    text-align: center;
    flex-wrap: nowrap;
  }

  header img{
    display: none;
  }

 .nav__nameElement{
  justify-content: center;
  margin-right: 10px;
 }

 .section__item{
  display: flex;
  align-items: center;
  justify-content: center;

 }

 .section__item img{
  width: 150px;
 }

 .section__item h3{
  display: none;
 }

 .section__item p{

  width: 75vw;
  text-align: center;
 }

 #skills{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
 }
 .subtitle_section{
  display: flex;
  text-align: left;
  width: 50vw;

}



  
}





